@page "/"

<section id="titulo">
    <div class="text-center py-5 px-2">
        <h1 class="fonte-titulo texto-cor-especial">Loja Online Varejo</h1>
        <p class="text-secondary">Nossas ofertas ajudam você a aproveitar melhor os alimentos, economizar, ganhar tempo e praticidade</p>
    </div>
</section>


@code {
    string userName = "admin";
    string userpassword = "admin";


    private void ResetPassword()
    {

    }

    private void Register()
    {

    }


    //private async Task Login(LoginArgs args)
    //{
    //    var request = new Auth { Login = args.Username, Password = args.Password };

    //    try
    //    {
    //        await Http.PostAsJsonAsync("http://localhost:8080/auth", request);

    //    }
    //    catch (Exception)
    //    {

    //    }
    //}


}